.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://example.com/your-background-image.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.animate-slide {
  animation: scroll 20s linear infinite;
  width: max-content;
}

/* infinite banner code */
.scrolling_text {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.text span {
  margin: 0 40px;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.text {
  animation: animate_text 30s linear infinite; /* The animation property */
}
